<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <form action="{{ url_for('result') }}" method="post">
            <input type="text" name="user_input" placeholder="Enter Carpool Rate" required>
            <div class="radio-buttons">
                <label>
                    <input type="radio" name="option" value="Option 1" required>
                    <span class="clock-icon"></span> 11:00 AM
                </label>
                <label>
                    <input type="radio" name="option" value="Option 2">
                    <span class="clock-icon"></span>  8:00 PM
                </label>
            </div>
            <button type="submit" id="alertfunc">Submit</button>
        </form>
    </div>
</body>
<script>

let button = document.getElementById("alertfunc")
button.addEventListener("click",function(){
    alert("The Deep Learning Model is making the predictions. This will take some time, go grab a cup of coffee and come back!")
})

</script>
</html>